/*Header*/
.home-container {
    background: url("../assets/images/bg.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 12;
    width: 100%;
}

.header {
    width: 100%;
}

.logo {
    width: 4%;
    align-self: center;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

li {
    align-self: center;
    margin: 0 2% 0 2%;
}

.nav-links a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}