<section id="home" class="home-container">
<header>
        
        <ul class="nav-links">
            <img src="../assets/images/logo.png" alt="logo" class="logo">
            <li *ngIf="!connectedUser" routerLinkActive="nav-active"><a href="#">Home</a></li>
            <li *ngIf="!connectedUser" routerLinkActive="nav-active"><a routerLink="login">Login</a></li>
            <li *ngIf="!connectedUser" routerLinkActive="nav-active"><a routerLink="sign-in">Sign In</a></li>
            <li *ngIf="connectedUser" routerLinkActive="nav-active"><a href="#MySongs">My Songs</a></li>
            <li *ngIf="connectedUser" routerLinkActive="nav-active"><a href="#MyArtists">My Artists</a></li>
            <li *ngIf="connectedUser" routerLinkActive="nav-active"><a href="#MyAlbums">My Albums</a></li>
            <li *ngIf="connectedUser" routerLinkActive="nav-active"><a routerLink="add-music">Add Music</a></li>
            <li *ngIf="connectedUser" routerLinkActive="nav-active"><a routerLink="add-playlist">Add Playlist</a></li>
            <li *ngIf="connectedUser" routerLinkActive="nav-active"><a routerLink="logout">Log Out</a></li>
        </ul>
</header>
</section>

<main>
    <router-outlet></router-outlet>
</main>
