form {
    padding-top: 6%;
}

mat-form-field, button {
    width: 98%;
    margin-left: 1%;
}

mat-form-field {
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
}

mat-checkbox {
    margin-left: 1%;
    margin: 1%;
}